<header class="d-flex justify-content-between align-items-center p-3">
    <h4 class="m-0">
        <a asp-controller="Home" asp-action="Index" class="text-white text-decoration-none">
            <i class="fas fa-car me-2"></i>park-vision
        </a>
    </h4>
    <button class="btn" id="themeToggle">
        <i class="fas fa-sun me-1"></i>
    </button>
</header>