<aside id="sidebar" class="sidebar d-flex flex-column p-3">
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" href="/Camera">Камера</a></li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="System" asp-action="Index">Система</a>
        </li>
    </ul>
</aside>